@page
@model NorthwindWeb.Pages.CustomersInfoModel
<div class="row">
    <h1 class="display-2">Klient</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Dane</th></tr>
        </thead>
        <tbody>
            @foreach (string name in Model.CustomersInfo)
            {
                <tr><td>@name</td></tr>
            }
        </tbody>
    </table>
</div>